.boton1 {
  padding: 10px;
  position: absolute;
  left: 150px;
  top: 40px;
  font-size: 15px;
}
.boton2 {
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 200px;
  top: 20px;
  font-size: 15px;
}
.boton3 {
  display: flex;
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 290px;
  top: 20px;
  font-size: 15px;
}
.boton4 {
  border-radius: 20px;
  width: 70px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 1060px;
  top: 20px;
  font-size: 15px;
}
.boton5 {
  justify-content: center;
  width: 70px;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 1150px;
  top: 20px;
  font-size: 15px;
}
.boton6 {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  margin-left: 530px;
  margin-top: 20px;
}
.boton7 {
  
  position:absolute;
  margin-left: 650px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  
}
.boton4:hover {
  
  background-color: white;
  color: tomato;
}

.boton5:hover {
  background-color: white;
  color: tomato;
}

.boton7:hover {

  background-color: white;
  color: tomato;
}

.boton6:hover {
  background-color:rgb(255, 115, 127);
  color: white;
}
.boton11{
 display: none;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  margin-left: 500px;
  margin-top: 20px;
}
.boton11:hover{
  background-color:rgb(255, 115, 127);
  color: white;
}
.boton12{
  position:absolute;
  margin-left: 650px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}
.boton12:hover{
  background-color: white;
  color: tomato;
}
*{
  padding: 0px;
  margin: 0px;
}
#menuu{
  list-style: none;
  margin:auto;
  width: 700px;
}

ul,ol{
  list-style: none;
}

.menu2 ul li a{
  
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px 3px;
  display: block;
 font-family: "Overpass";
 display: flex;
 justify-content: center;
  
  
  }
  .menu2 ul li a:hover{
    background-color: rgb(238, 225, 225);
}


.menu2 li ul{
  
  display: none;
  position: absolute;
  top: 75px;
  min-width: 140px;
}
.menu2 li:hover >ul{
display: block;
}


.imagenlogo2{
  position: absolute;
 margin-top: 40px;
 left: 80px;
 width: 60px;
 height: auto;
}
.boton9{
  
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.listabotones3{
  float: left;
  display: flex;
  position:relative;
  left: 200px;
  font-family: "Overpass";

}

.boton8{
  text-decoration: none;
  position: absolute;
  left: 82px;
  margin-top: 50px;
  font-size: 19px;
  color: white;
}

.sub_menu3{
  line-height: 25px;
  position: relative;
  left: 80px;
  color: white;
  top: 105px;
  padding: 0px;
}

.sub_menu3  a{
  
  color: white;
  text-decoration: none;
}


.boton9{
  font-size: 19px;
  position: absolute;
  left: 450px;
  margin-top: -70px;
}

.sub_menu4{
  line-height: 25px;
  position: relative;
  margin-left: 465px;
  top: -20px;
  color: white;
}

.sub_menu4  a{
  
  color: white;
  text-decoration: none;
}





.boton10{
  font-size: 19px;
   position:relative;
  text-decoration: none;
  color: white;
  margin-left: 754px;
  top: -165px;
}

.sub_menu5{
  padding: 0;
  position: relative;
  margin-left: 759px;
  margin-top: -135px;
  color: white;
  line-height: 25px;
}

.sub_menu5  a{

  color: white;
  text-decoration: none;
}



/*boton amburguza*/

#ham{
  
 display: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 545px;
  left: 1200px;
  border: none;
  background-color: transparent;
}
.imgdetlf{
  display: none;
}


/*boton amburguza*/

@media screen and (max-width:378px){
   .contenedor{
     display: block;
     max-width: 378px;
     width: 100%;
     
    
   }
  .parrafo2{
    position: relative;
    width: 60%;
    left: 50px;
    font-size: 100%;
    display:flex;
  }
 #ham{
  left: 280px;
  top: 20px;
    background-color: black;
    display: block;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    bottom: 545px;
    margin-top: -150px;
    border: none;
    background-color: transparent;
  }

   .contenedor{
     overflow: hidden;
   }
  .listabotones2{
   display: none;
    left: 20px;
  }
  .contenedordeheder,.telefonos,.primerostextoseimagenes{
     display: block;
     flex-direction: column;
  }
  .telefonos{
    height: 500px;
  }
  .telefonos img{
    height:55%;
    left: 10px;
    margin-top:89%;
  }
  .tlf22{
    background: url(./images/bg-pattern-circles.svg), rgb(51, 48, 71);
background-size: 150%;
  background-position:60%  -400% ;
  background-repeat: no-repeat;
  }
  .textotlf{
    position: absolute;
    display: flex;
    left: -515px;
    margin-top: 40%;
    width: 70%;
    font-size: 200%;
  }
  .textotlf2{
    position: relative;
    display: flex;
    justify-content: center;
    left: -550px;
    margin-top: 100%;
    width: 100%;
    font-size: 100%;
  }

  .boton6{
    display: block;
    position: absolute;
    left: 4000px;
    right: 20px;
  }
  .logoimg{
    height:25px;
    top: 30px;
     left: 100px;
  }


  .texto1{
    top: 50px;
    position:relative;
    font-size: 70% ;
    width: 60%;
    line-height: 25px;
  
  left:70px ;
  }
  .parrafo1{
    left: -5px;
    top: 60px;
    position: relative;
  }
  .footer{
    width: 100%;
    height: 900px;
border-top-right-radius: 70px;
    
  }

  .listabotones3{
  
    
    display: flex;
    flex-direction: column;
    margin: 0;
   left: 20px;
   
    
  }
  .boton8{
    top: 10%;
    left: 20%;
  }
  .sub_menu3{
    margin-top: 10%;
    margin-left: 60px;
  }
  .boton9{
    top:59%;
    left: 20%;
  }
  
  .sub_menu4{
    margin-top: 45%;
    margin-left: 150px;
  }

  .boton10{
    margin-left:145px;
    top:100px;
    position: relative;
  }
  .sub_menu5{
   
    margin-left: 150px; ;
    margin-top: 130px;

  }
  .imagenlogo2{
    left: 145px;
    width: 88px;
  }
  .texto3{
    margin-top: 350px;
    position: relative;
    left: 30px;
  }

  .texto4{
    position: relative;
    left: 80px;
  }
  .texto5{
    margin-top: 450px;
    font-size: 30px;
    position: relative;
    left: 80px;
  }
  .parrafo4{
    position: relative;
    left: -620px;
    color: black;
    width: 70%;
    font-size: 100%;
  }

  .parrafo5{
    position: relative;
    right: 20px;
  }

  .texto6{
    margin-top: 100px;
    font-size: 30px;
   width: 100%;
   position: absolute;
   left:-65px;
   
    }

    .parrafo5{
      position: relative;
      left: -650px;
      width: 80%;
      margin-top: 190px;
    }
    .laptop{
      width: 400px;
      top: 420px;
      left: -150%;
      position:relative;
      display: flex;
    
    }
    .lpgrande{
    width: 450px;
    position: absolute;
    display: flex;
    left: -15%;
    top: 2450px;
    }

    .boton11{
      left: 40px;
      position: relative;
      background-color: black;
    }


    .botonestlf{
      display: block;
    }
}