.boton1 {
  padding: 10px;
  position: absolute;
  left: 150px;
  top: 40px;
  font-size: 15px;
}
.boton2 {
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 200px;
  top: 20px;
  font-size: 15px;
}
.boton3 {
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 290px;
  top: 20px;
  font-size: 15px;
}
.boton4 {
  border-radius: 20px;
  width: 70px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 1060px;
  top: 20px;
  font-size: 15px;
}
.boton5 {
  justify-content: center;
  width: 70px;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  margin: 20px;
  left: 1150px;
  top: 20px;
  font-size: 15px;
}
.boton6 {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  margin-left: 530px;
  margin-top: 20px;
}
.boton7 {
  position: absolute;
  margin-left: 650px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}
.boton4:hover {
  box-shadow: 0 3px 0 rgb(127, 128, 131);
  text-shadow: 0 1px 0 rgb(96, 99, 100);
  background-color: white;
  color: tomato;
}

.boton5:hover {
  box-shadow: 0 3px 0 rgb(127, 128, 131);
  text-shadow: 0 1px 0 rgb(96, 99, 100);
  background-color: white;
  color: tomato;
}
.boton7:hover {
  box-shadow: 0 3px 0 rgb(127, 130, 131);
  text-shadow: 0 1px 0 rgb(96, 99, 100);
  background-color: white;
  color: tomato;
}

.boton6:hover {
  box-shadow: 0 3px 0 rgb(127, 128, 131);
  text-shadow: 0 1px 0 rgb(96, 99, 100);
  background-color: white;
  color: tomato;
}